@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --color-bg: hsl(226, 43%, 10%);
  --color-primary: hsl(246, 80%, 60%);
  --color-work: hsl(15, 100%, 70%);
  --color-play: hsl(195, 74%, 62%);
  --color-study: hsl(348, 100%, 68%);
  --color-exercise: hsl(145, 58%, 55%);
  --color-social: hsl(264, 64%, 52%);
  --color-self-care: hsl(43, 84%, 65%);
  --color-card-bg: hsl(235, 46%, 20%);
  --color-card-hover: hsl(235, 45%, 61%);
}

@theme {
  --font-rubik: 'Rubik', sans-serif;
}